
body{
    background-color: #2e2b2b;
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'sinkin_sans1';
    src: url('myfonts/sinkinsans-500medium-webfont.woff2') format('woff2'),
         url('myfonts/sinkinsans-500medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_sans2';
    src: url('myfonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('myfonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows:  auto 1fr;
    height: 100vh;
    
}
.header{
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 90px 150px;
    background-color: #cccad3;
    max-height: 240px;
    margin-bottom: 0;
}

.searchbar{
    padding: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    
}
.searchbar img{
    justify-self: end;
    margin-right: 15px;
}
.searchbar input{
    width: 550px;
    height: 30px;
    border-radius: 3rem;
    background-color: rgba(247, 247, 247, 0.555);
    border: none;
}

.searchbar input[type="text"] {
    padding-left: 10px;

}
.rightProfile{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    /* background-color: blueviolet; */
    justify-self: end;
    align-items: center;
    padding: 1rem;
}
.rightProfile > p{
    padding-left: 10px;
    font-family: 'source_sans2',Roboto;
    font-size: 20px;
    font-weight: 700;
}
.bottom-header{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-column: 1/3;
    /* background-color: darksalmon; */
}
.avatar{
    display: grid;
    grid-template-columns: 1fr 5fr; 
    grid-template-rows: 1fr;
    /* background-color: green; */
    align-self: center;
}
.avatar > img{
    justify-self: end;
}
.avatar .wrapper{
    justify-self: start;
    align-self: center;
    padding-left: 10px;
}
.avatar .wrapper .greet{
    font-family: 'source_sans2', Roboto;
    font-size: 18px;
}

.avatar .wrapper .punisher{
    font-family: 'source_sans2', Roboto;
    font-size: 30px;
    font-weight: 900;
}
.header-buttons{
    /* background-color: dodgerblue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

.header-buttons > button{
    margin: 1rem 1rem;
    background-color: rgb(54, 53, 52);
    color: white;
    width: 6rem;
    height: 2rem;
    font-size: 0.9rem;
    font-weight: 800;
    border: none;
    border-radius: 20px;
}

.header-buttons > button:hover{
    cursor: pointer;
}

.sidebar{
    grid-row: 1/3; 
    background-color: #3b3b3b;
    font-family: 'sinkin_sans1', Roboto;
    font-size: 15px;
    color: #FFFFFF;
}
.left-top{
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    gap: 1rem;
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'source_sans2';
    font-weight: 700;
    font-size: 25px;
}


#first, #second{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}

#first > li, #second > li{
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 3rem;
    padding-left: 25px;
    padding-right: 15px;
    align-items: center;
    gap : 1.5rem;
    
}

.sidebar img{
    filter: invert(1) brightness(2);
}
.sidebar ul li img {
    width: 30px;
    
}

.sidebar ul{
    list-style: none;
}

.sidebar li{
    cursor: pointer;
    transition: background-color 0.3s;
    transition: font-size 0.3s;
}

.sidebar li:hover {
    background-color: #312d31; /* Slightly darker background on hover */
    font-size: 20px;
}

.main-content{
    display: grid;
    grid-column: 2/3;
    padding-left: 10px;
    padding-right: 15px;
    margin-top: 0;
    margin-right: 1rem;
}

.main-content .card-images img{
    width: 21px;
    
}

.main-head{
    
    
    font-weight: 800;
    font-family: 'source_sans2';
    font-size: 25px;
    align-self: center;
    color: aliceblue;
   
}

.main-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,0.8fr));
    gap: 1.5rem;
    align-items: stretch;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 0;
}

.main-cards .card {
    position: relative;
    background-color: #cccad3;
    color: rgb(10, 9, 9);
    text-align: left;
    min-height: calc(120px + 7vw);
    border-radius: 7px;
    border-left: 9px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 5px rgba(68, 67, 67, 0.671);
    transition: 0.3s background-color;
    cursor: pointer;
}
.main-cards .card-images >img{
    transition: 0.3s width;
}
.main-cards .card-images > img:hover{
    width: 18px;
}
.main-cards .card:hover{
    background-color: #FFFFFF
}

.card .title{
    font-family: 'sinkin_sans1', Roboto;
    padding: 1.5rem 2rem 0;
    font-weight: 900;
    font-size: 1rem;
    
}
.card .card-text{
    font-family: 'source_sans2', Roboto;
    padding: 0 2rem;
    color: rgb(124, 124, 124);
    font-weight: normal;
    font-size: 0.8rem;
}
.card .card-images{
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.4rem;
}
.circle-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.right-sidebar{
    padding: 1.5rem 1rem 0 0;
    padding-left: 10px;
    
}

.right-title{
    font-family: source_sans2;
    font-weight: 800;
    font-size: 25px;
    padding-bottom: 1.5rem;
    align-self: center;
    padding-top: 1rem;
    color: #FFFFFF;
    margin-bottom: 12px;
    
}
.right-sidebar .right-card {
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    padding: 0.5rem;
    background-color: #FFFFFF;
    color: black;
    text-align: left;
    height: 270px;
    min-width: 220px;
    border-radius: 7px;
    border: 15px solid rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgba(90, 90, 90, 0.671);
}
.right-top .card-element:nth-child(1), .right-top .card-element:nth-child(2) {
    border-bottom: 1px solid rgb(138, 134, 134);

}

.right-bottom .card-element:nth-child(1), .right-bottom .card-element:nth-child(2) {
    border-bottom: 1px solid rgb(138, 134, 134);
}
.right-bottom .card-element:nth-child(2), .right-bottom .card-element:nth-child(3) {
    padding-top: 15px;
}


.right-bottom .right-card{
    margin-bottom: 20px;
}
.right-top .right-card .card-title{
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'source_sans2', Roboto;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s font-size;
}
.right-top .right-card .card-title:hover{
    font-size: 20px;
}


.right-top .right-card .card-para{
    font-family: 'sinkin_sans1', Roboto;
    font-size: 10px;

}
.right-bottom .card-title{
    color: white;
    font-family: 'source_sans2';
    font-weight: 900 ;
    padding: 1rem 0;
    font-size: 25px;
}

.right-bottom .card-element{
    display: grid;
    gap: 0.4rem;
    grid-template-columns: 1fr 4fr;
    justify-self: start;
    padding-top: 5px;
    width: 100%;
    

}

.right-bottom .circle-container{
    cursor: pointer;
}


.right-bottom .wrapper{
    grid-column: 2/3;
    padding-left: 10px;
}
.right-bottom .username{
    font-family: 'source_sans2', Roboto;
    font-weight: 600;
    font-size: 15px;
}
.right-bottom .bio{
    font-family: 'sinkin_sans1', Roboto;
    font-weight: 200;
    font-size: 13px;
}

